* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #061E29;
  color: #F3F4F4;
}

h5 {
  display: inline;
}

/* CONTENEDOR PRINCIPAL */
.mainContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
 
}

/* LISTA */
ul {
  list-style: none;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CARD */
.formContainer {
  background-color: #1D546D;
  padding: 12px 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* LABEL */
.formContainer label {
  font-size: 0.95rem;
  font-weight: 600;
}

/* INPUT */
.formContainer input {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #5F9598;
  background-color: #061E29;
  color: #F3F4F4;
  font-size: 0.85rem;
  outline: none;
}

.formContainer input:focus {
  border-color: #5F9598;
}

/* BUTTON */
button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background-color: #5F9598;
  color: #061E29;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 5;
}

button:hover {
  opacity: 0.9;
  
}

,backBtn{
  margin: 10rem;
}